*.log
*.lp
*.v
parse*
__py*
*temp*
*trash*
/python/autoparallel.egg-info
/python/build/
/python/dist/
**/vitis_run*/
**/solution/
**/e2e_test/
front_end_result.json
**/kernel0/
**/wrapper_rtl/
**/bucket_sort/
**/pattern_mining/
*.jou
*.str
*.vscode
*.dot
**/hd_visual